html{
  font-size: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Suisse Intl", "Suisse Int'l Medium", "Suisse Int'l Bold";
  color: #343434;
}

@font-face {font-family: "Suisse Int'l Bold"; src: url("//db.onlinewebfonts.com/t/d1a580023d40c546276decde1c711e60.eot"); src: url("//db.onlinewebfonts.com/t/d1a580023d40c546276decde1c711e60.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d1a580023d40c546276decde1c711e60.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d1a580023d40c546276decde1c711e60.woff") format("woff"), url("//db.onlinewebfonts.com/t/d1a580023d40c546276decde1c711e60.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d1a580023d40c546276decde1c711e60.svg#Suisse Intl") format("svg"); }
@font-face {font-family: "Suisse Intl"; src: url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.eot"); src: url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.woff") format("woff"), url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.svg#Suisse Intl") format("svg"); }
@font-face {font-family: "Suisse Int'l Medium"; src: url("//db.onlinewebfonts.com/t/501e03d4c0303f394033bcaf435f4b3e.eot"); src: url("//db.onlinewebfonts.com/t/501e03d4c0303f394033bcaf435f4b3e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/501e03d4c0303f394033bcaf435f4b3e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/501e03d4c0303f394033bcaf435f4b3e.woff") format("woff"), url("//db.onlinewebfonts.com/t/501e03d4c0303f394033bcaf435f4b3e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/501e03d4c0303f394033bcaf435f4b3e.svg#Suisse Int'l Medium") format("svg"); }
/* @font-face {
  font-family: "Suisse Int'l Medium";
  src: url("/font/Suisse Int'l Medium/Suisse Int'l Medium.eot");
  src: url("/font/Suisse Int'l Medium/Suisse Int'l Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/font/Suisse Int'l Medium/Suisse Int'l Medium.woff2")
      format("woff2"),
    url("/font/Suisse Int'l Medium/Suisse Int'l Medium.woff")
      format("woff"),
    url("/font/Suisse Int'l Medium/Suisse Int'l Medium.ttf")
      format("truetype");
   
}
@font-face {
  font-family: "Suisse Int'l Bold";
  src: url("/font/SuisseIntl-Bold/SuisseIntl-Bold.eot");
  src: url("/font/SuisseIntl-Bold/SuisseIntl-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/font/SuisseIntl-Bold/SuisseIntl-Bold.woff2")
      format("woff2"),
    url("/font/SuisseIntl-Bold/SuisseIntl-Bold.woff")
      format("woff"),
    url("/font/SuisseIntl-Bold/SuisseIntl-Bold.ttf")
      format("truetype");
    
}
@font-face {
  font-family: "Suisse Intl";
  src: url("/font/Suisse Int'l/Suisse Int'l.eot");
  src: url("/font/Suisse Int'l/Suisse Int'l.eot?#iefix")
      format("embedded-opentype"),
    url("/font/SuisseIntl.woff2")
      format("woff2"),
    url("/font/SuisseIntl.woff")
      format("woff"),
    url("/font/SuisseIntl.ttf")
      format("truetype");
    
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
