.formCard{
    border-radius: 20px;
    width: 60%;
    box-shadow: 0 5px 30px rgb(0 0 0 / 16%);
    /* box-shadow: 0 5px 30px green; */
    /* height: 700px; */
    padding-bottom: 5%;
    margin-top: 5%;
    /* margin-bottom: 10%; */
    margin-left: 20%;
    /* background-color: green; */
    
    
}

@media screen and (max-width: 600px) {
  .formCard {
    width: 95%;
    margin-left: 2.5%;
  }
 
}


.Title{
    /* padding-top: 4%; */
    margin-left: 6%;
    font-size: 40px;
    font-weight: 600;
}

.subTitle{
    margin-top: -3%;
    margin-left: 6%;
    font-size: 20px;
    color: grey
}

.form__input2{
  /* font-family: "Roboto" */
  font-family: "Suisse Intl";
  color: #333;
  font-size: 1.2rem;
  /* margin: 0rem auto; */
  margin-left: 5%;
  margin-top: 1rem;
  padding: 1.5rem 2rem;
  /* border-radius: 0.2rem; */
  background-color: #f0f0f0;
  border: none;
  /* width: 992px;  */
  width: 90%;
  height: 70px;
  border-radius: 20px;
  display: block;
  border-bottom: 0.3rem solid transparent;
}

.form__input2Loading{
  /* font-family: "Roboto", sans-serif  */
  font-family: "Suisse Intl";
  color: #333;
  font-size: 1.2rem;
  /* // margin: 0rem auto; */
  margin-left: 5%;
  margin-top: 1rem;
  padding: 1.5rem 2rem;
  /* // border-radius: 0.2rem; */
  background-color: #f0f0f0;
  border: none;
  /* //   width: 992px  */
  width: 90%;
  height: 70px;
  border-radius: 20px;
  display: block;
  border-bottom: 0.3rem solid transparent;
  /* // transition: all 0.3s */
  background-image: url(../styles/assets/rollingloader.gif);
  background-repeat: no-repeat;
  background-position: right 5% bottom 50%;

}
.companySearchOptions{
  z-index: 4;
  background-color:#f0f0f0;
  font-size: 18px;
  margin-top: 0rem;
  margin-bottom: 0rem;
  width: 90%;
  margin-left: 5%;
  padding: 5px;
  border: 1px solid #8d8d8d;
  cursor: pointer;
  border-radius: 4px;
}
.companySearchOptions:hover{
    background-color:#d6d6d6;
}

.form__textarea{
  font-family: "Suisse Intl";

  color: #333;
  font-size: 1.2rem;
  /* margin: 0rem auto; */
  margin-left: 5%;
  margin-top: 1rem;
  padding: 1.5rem 2rem;
  /* border-radius: 0.2rem; */
  background-color: #f0f0f0;
  border: none;
  width: 90%;
  height: 120px;
  border-radius: 20px;
  display: block;
  border-bottom: 0.3rem solid transparent;
  resize: none;
}

.createAccount {
    /* padding-top: 4%; */
    margin-left: 6%;
    font-size: 25px;
    font-weight: 500;

}

.passwordReq{
  font-size: 15px;
  color: #333;
  margin-left: 7%;
  color: grey
}
.passwordHas{
  font-size: 15px;
  color: #333;
  margin-left: 7%;
  background-image: url(../styles/assets/tick-1.gif);
  background-size: 30px 30px;
  background-position: right 65% bottom 50%;
  background-repeat: no-repeat;
  color: grey
}
@media screen and (max-width: 600px) {
    .passwordHas{
        background-position: right 10% bottom 50%;
      }
   
  }

.submitGrid{
    display:grid;
    grid-template-columns: 50% 50%;
}

.createAccountButton{
  border: 1px solid #343434;
  background-color: #343434;
  color: white;
  border-radius: 3rem;
  margin-left: 15%;
  font-size: 22px;
  cursor: pointer;
  width: 70%;
  height: 45px;
  margin-top: 20px
}
.createAccountButton:hover{
  background-color:#505AFC;
  border: 1px solid#505AFC;
}

.finePrint{
    margin-left: 12%;
    color: rgb(77, 75, 75);
}
.a{
    text-decoration-line: underline;
    cursor: pointer;
}

.redline{
  color: red;
  margin-left: 6%;
}

.titleLayout{
  display: grid;
  grid-template-columns: 80% 20%;
}
.brokerLogoImage{
  width: 100%;
  /* margin-top: 25%;
  margin-left: -25%;
  background-image: url(./assets/timeinsurance.png); */
  /* margin-top: 15%;
  margin-left: -25%;
  background-image: url(./assets/sentinel.png); */
  margin-top: 25%;
  margin-left: -25%;
  background-image: url(./assets/carson.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media only screen and (max-width: 540px) {
  .brokerLogoImage {
    margin-top: 3rem;  /*Time insurance && Carson */
    /* margin-top: 2.3rem; */ /* Sentinel */
  }

  .titleLayout{
    display: grid;
    grid-template-columns: 75% 25%;
  }
}