.success{
    font-size: 35px;
    text-align: center;
    padding-top: 3rem;
}
.successP{
    font-size: 20px;
    text-align: center;
    /* padding-top: 3rem; */
}

.formCard{
    border-radius: 20px;
    width: 60%;
    box-shadow: 0 5px 30px rgb(0 0 0 / 16%);
    /* box-shadow: 0 5px 30px green; */
    /* height: 700px; */
    padding-bottom: 5%;
    margin-top: 20%;
    /* margin-bottom: 10%; */
    margin-left: 20%;
    /* background-color: green; */
    
    
}



.button{
    border-radius: 3rem;
    background-color: #343434;
    border: 1px solid #343434;
    color: white;
    width: 40%;
    height: 38px;
    margin-top: 1rem;
    margin-left: 30%;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.button:hover {
    background-color: #505afc;
}

@media screen and (max-width: 600px) {
    .formCard {
      width: 95%;
      margin-left: 2.5%;
      margin-top: 40%;
    }
    .button {
        width: 80%;
        margin-left: 10%;
    }
   
}